/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
/* @import "./css/bootstrap.min.css"; */
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "../node_modules/react-image-crop/dist/ReactCrop.css";
@import "../node_modules/react-datepicker/dist/react-datepicker.css";

body {
	position: relative;
	color: black;
	height: 100vh;
	background-color: #ebebeb;
	font-family: Roboto;
	overflow-y: hidden;
	overflow-x: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

h2 {
	margin: 0;
	font-size: 2.25rem;
	font-weight: bold;
	letter-spacing: -0.025em;
	color: #fff;
}

*,
*::after,
*::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}

div {
	font-size: 14px;
}

div::-webkit-scrollbar {
	width: 4px;
	margin-left: 12px;
}

div::-webkit-scrollbar-track {
	box-sizing: border-box;
	height: 123px;
	width: 3px;
	background-color: rgba(42, 42, 42, 0.16);
}

div::-webkit-scrollbar-thumb {
	height: 30px;
	width: 4px;
	border-radius: 2px;
	background-color: #5b5b5b;
}

p {
	font-size: 16px;
	-webkit-margin-before: 0;
	-webkit-margin-after: 1em;
	word-wrap: normal;
}

button {
	background-color: #37a8df;
	color: white;
	font-weight: bold;
	font-size: 14px;
	border: none;
	padding: 8px;
	border-radius: 2px;
}

button:disabled {
	background-color: #c1c1c1;
	color: white;
	font-weight: bold;
	font-size: 14px;
	border: none;
	padding: 8px;
	border-radius: 2px;
}

input[type="submit"] {
	border: none;
	border-radius: 2px;
	background-color: #26ca85;
	color: white;
	font-family: Roboto;
	font-size: 14px;
	font-weight: bold;
}

input[type="submit"]:disabled {
	background-color: #c1c1c1;
	color: white;
	font-weight: bold;
	font-size: 14px;
	border: none;
	padding: 8px;
	border-radius: 2px;
}

input {
	margin-bottom: 22px;
}

li {
	list-style: none;
}

a {
	color: white;
	opacity: 0.75;
	text-decoration: none;
}

a:hover {
	opacity: 1;
	text-decoration: none;
	cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 34px;
	height: 14px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: -3px;
	right: 0;
	bottom: -6px;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 0;
	bottom: 0;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

.slider.round:before {
	border-radius: 50%;
}

.checkBoxContainer {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	border-radius: 2px;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.checkBoxContainer input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 24px;
	width: 24px;
	background-color: #eee;
}

.checkBoxContainer input:checked ~ .checkmark {
	background-color: #00c887;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkBoxContainer input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkBoxContainer .checkmark:after {
	left: 9px;
	top: 2px;
	width: 5px;
	height: 14px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

@keyframes modalAnimation {
	0% {
		width: 0px;
	}
	100% {
		width: 470px;
	}
}

.requestCourseModal {
	background-color: #fafafa;
	border-radius: 2px;
	width: 470px;
	height: 535px;
	right: 0;
	position: absolute;
	animation-timing-function: cubic-bezier(0.055, 0.965, 0.265, 0.96);
	padding-left: 70px;
	padding-top: 18px;
	padding-right: 21px;
	animation-name: modalAnimation;
	animation-duration: 0.5s;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px 0px,
		rgba(0, 0, 0, 0.16) 0px 11px 38px 0px;
}

@keyframes alertDialogBodyAnimation {
	0% {
		width: 0px;
	}
	100% {
		width: 370px;
	}
}

@keyframes alertDialogBackgroundAnimation {
	0% {
		background-color: rgba(255, 255, 255, 0);
	}
	100% {
		background-color: rgba(255, 255, 255, 0.6);
	}
}

@keyframes actionSpinnerImageAnimation {
	to {
		transform: rotate(360deg);
	}
}

.actionSpinnerImage {
	animation: actionSpinnerImageAnimation 1s steps(12, end) infinite;
}

@keyframes statusActionImageAnimation {
	to {
		transform: rotate(360deg);
	}
}

.statusActionImage {
	animation: statusActionImageAnimation 2s linear reverse infinite;
}

.alertDialogBackground {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.6);
	animation-timing-function: linear;
	animation-name: alertDialogBackgroundAnimation;
	animation-duration: 0.5s;
	padding-top: 45px;
	z-index: 3;
}

.alertDialogBody {
	margin-top: 130px;
	position: absolute;
	font-family: Roboto;
	color: #8c8c8c;
	font-weight: bold;
	padding-left: 70px;
	animation-timing-function: cubic-bezier(0.055, 0.965, 0.265, 0.96);
	animation-name: alertDialogBodyAnimation;
	animation-duration: 0.5s;
	padding-top: 18px;
	padding-right: 21px;
	height: 280px;
	width: 370px;
	background-color: white;
	right: 0;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.22), 0 19px 38px 0 rgba(0, 0, 0, 0.3);
}

.dropdown {
	position: relative;
	display: inline-block;
	display: flex;
	align-items: center;
	border-radius: 4;
}

.dropdown:hover {
	cursor: pointer;
}
